<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let s of listSources">
    <ion-card-header (click)="goToPageNews(s.id)" >
      {{s.name}}
    </ion-card-header>
  </ion-card>
  
</ion-content>
