<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>news</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <button ion-button outline full (click)="goToPageHome()">
        <ion-icon name="arrow-round-back"></ion-icon>
      Liste des chaines
    </button>
    <ion-card *ngFor="let a of listArticles">

        <ion-item>
          <h2>{{a.source.name}}</h2>
        </ion-item>
      
        <img src="{{a.urlToImage}}">
      
        <ion-card-content>
          <h2>{{a.title}}</h2>
          <p>{{a.description}}</p>
        </ion-card-content>
      
        <ion-row>
          <ion-col center text-center>
            <ion-note>
              {{a.publishedAt}}
            </ion-note>
          </ion-col>
        </ion-row>
      
      </ion-card>
</ion-content>
